
Codes/Baal Arjun/Baal Arjun.sln
Codes/Baal Arjun/Baal Arjun.vcxproj
Codes/Baal Arjun/Baal Arjun.vcxproj.filters
Codes/Baal Arjun/Baal Arjun.vcxproj.user
Codes/Baal Arjun/Baal Arjun.aps
Codes/Baal Arjun/Build/
Codes/Baal Arjun/include/
Codes/Baal Arjun/lib/
Codes/Baal Arjun/x64/
Codes/Baal Arjun/.vs/
proposal/proposal format.lof
proposal/proposal format.aux
proposal/proposal format.txt
proposal/proposal format.lot
proposal/proposal format.out
proposal/proposal format.synctex
proposal/proposal format.toc
proposal/cover page.txt
proposal/proposal format.log
proposal/cover page.log
Final/proposal format.lof
Final/proposal format.aux
Final/proposal format.txt
Final/proposal format.lot
Final/proposal format.out
Final/proposal format.synctex
Final/proposal format.toc
Final/cover page.txt
Final/proposal format.log
Final/cover page.log
Final/sec/application.log